In [1]:
import requests
import pandas as pd
import random

In [10]:
basic_api_url = 'https://the-one-api.dev/v2/movie'

In [11]:
token_path = './tolken'

In [12]:
with open(token_path) as f:
    token = f.read()

In [13]:
header = {
    'Authorization': f'Bearer {token}'
}

In [15]:
resp = requests.get(basic_api_url, headers = header)

In [31]:
resp.headers['X-RateLimit-Remaining']

'95'

In [22]:
resp_json = resp.json()

In [26]:
pd.DataFrame(resp_json)

,docs,total,limit,offset,page,pages
0,"{'_id': '5cd95395de30eff6ebccde56', 'name': 'T...",8,1000,0,1,1
1,"{'_id': '5cd95395de30eff6ebccde57', 'name': 'T...",8,1000,0,1,1
2,"{'_id': '5cd95395de30eff6ebccde58', 'name': 'T...",8,1000,0,1,1
3,"{'_id': '5cd95395de30eff6ebccde59', 'name': 'T...",8,1000,0,1,1
4,"{'_id': '5cd95395de30eff6ebccde5a', 'name': 'T...",8,1000,0,1,1
5,"{'_id': '5cd95395de30eff6ebccde5b', 'name': 'T...",8,1000,0,1,1
6,"{'_id': '5cd95395de30eff6ebccde5c', 'name': 'T...",8,1000,0,1,1
7,"{'_id': '5cd95395de30eff6ebccde5d', 'name': 'T...",8,1000,0,1,1

In [27]:
movies_df = pd.json_normalize(resp_json['docs'])

In [32]:
movies_df

,_id,name,runtimeInMinutes,budgetInMillions,boxOfficeRevenueInMillions,academyAwardNominations,academyAwardWins,rottenTomatoesScore
0,5cd95395de30eff6ebccde56,The Lord of the Rings Series,558,281,2917.0,30,17,94.000000
1,5cd95395de30eff6ebccde57,The Hobbit Series,462,675,2932.0,7,1,66.333333
2,5cd95395de30eff6ebccde58,The Unexpected Journey,169,200,1021.0,3,1,64.000000
3,5cd95395de30eff6ebccde59,The Desolation of Smaug,161,217,958.4,3,0,75.000000
4,5cd95395de30eff6ebccde5a,The Battle of the Five Armies,144,250,956.0,1,0,60.000000
5,5cd95395de30eff6ebccde5b,The Two Towers,179,94,926.0,6,2,96.000000
6,5cd95395de30eff6ebccde5c,The Fellowship of the Ring,178,93,871.5,13,4,91.000000
7,5cd95395de30eff6ebccde5d,The Return of the King,201,94,1120.0,11,11,95.000000

In [49]:
movie_id = movies_df[movies_df["name"] == "The Return of the King"]["_id"].values[0]
movie_api_url = f'https://the-one-api.dev/v2/movie/{movie_id}/quote'

In [50]:
resp2 = requests.get(movie_api_url,headers = header)

In [51]:
resp2.headers

{'Date': 'Wed, 10 Nov 2021 12:05:45 GMT', 'Server': 'Apache/2.4.41 (Ubuntu)', 'Content-Security-Policy': "default-src 'self';base-uri 'self';block-all-mixed-content;font-src 'self' https: data:;frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests", 'X-DNS-Prefetch-Control': 'off', 'Expect-CT': 'max-age=0', 'X-Frame-Options': 'SAMEORIGIN', 'Strict-Transport-Security': 'max-age=15552000; includeSubDomains', 'X-Download-Options': 'noopen', 'X-Content-Type-Options': 'nosniff', 'X-Permitted-Cross-Domain-Policies': 'none', 'Referrer-Policy': 'no-referrer', 'X-XSS-Protection': '0', 'Access-Control-Allow-Origin': '*', 'X-RateLimit-Limit': '100', 'X-RateLimit-Remaining': '98', 'X-RateLimit-Reset': '1636546445', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '158106', 'ETag': 'W/"2699a-mfYKPtah0CUafvGTcg4Wu3JWb/s"', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive'}

In [52]:
resp2.status_code

200

In [58]:
quotes_df = pd.json_normalize(resp2.json()['docs'])

In [59]:
quotes_df.head()

,_id,dialog,movie,character
0,5cd96e05de30eff6ebcce7e9,Deagol!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe9e
1,5cd96e05de30eff6ebcce7ea,Deagol!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe9e
2,5cd96e05de30eff6ebcce7eb,Deagol!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe9e
3,5cd96e05de30eff6ebcce7ec,Give us that! Deagol my love,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe9e
4,5cd96e05de30eff6ebcce7ed,Why?,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfca7

In [66]:
def randquote():
    pick = random.choice(list(quotes_df['dialog']))
    return pick

In [69]:
randquote()

'I think you have strength of a different kind.\xa0 And one day your father     will see it.'

'I will go!'

# Mini-Trivial ¿Qui va dir la frase ...?

### STEP 1
- Importar df de quotes

### STEP 2
- Importar df de caracters

### STEP 3
- Crear funció per triar quote a l'atzar i guardar-la en variable

### STEP 4
- Recuperar personatge de caracter_df a partir de la id obtinguda del quote_df.
- Guardar-lo en variable

### STEP 5 
- Preguntar a usuari qui va dir la frase? i comprovar si es correspon amb caracter guardat